#chat{
    width: 70%;
    height: 100%;
}
/* Container for own messages */
.own-msg {
    margin-left: 0;
    gap: 10px;
    align-items: center;
    display: flex;
    max-width: 70%;
    padding: 10px;
    border-radius: 12px;
    word-break: break-word; 
}

/* Container for paragraphs within own messages and other messages */
.own-msg-contain > p,
.other-msg-contain > p {
    font-weight: bold;

    width: 100%; /* Adjusted to ensure full use of container width */
    font-size: clamp(0.625rem, 0.5909rem + 0.5455vw, 1rem);
    overflow-wrap: break-word; /* Ensures long words break into the next line */
    margin: 0; /* Reset margin to avoid unwanted spacing */
}
.other-msg-contain > p{
    background-color: #105ef3;
    color: white;
    padding: 10px;
    border-radius: 10px;

}
.own-msg-contain > p{
    background-color: white;
    color: darkgrey;
    padding: 10px;
    border-radius: 10px;
    
}

/* Container for other messages */
.other-msg {
    margin: 0;
    gap: 1px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    max-width: 70%;
    padding: 1px;
    border-radius: 12px;
    word-break: break-word; /* Ensures long words break into the next line */
}

/* Make sure paragraphs in other messages also wrap properly */
.other-msg > p {
    background-color: rebeccapurple !important;
    margin: auto;
    width: 100%; /* Ensure the paragraph takes the full width of the container */
    font-size: clamp(0.625rem, 0.5909rem + 0.5455vw, 1rem);
    overflow-wrap: break-word; /* Ensures long words break into the next line */
    margin: 0; /* Reset margin to avoid unwanted spacing */
}

#current-chatuserinfo{
    padding: 2vh 0.7vw;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    /* border-radius: 40px; */
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#info-1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}
#info-1>img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
#name-status{
 justify-content: center;
    display: flex;
    flex-direction: column;
}

#name-status>h2{
    margin: 0;
}
#name-status>p{
    margin: 0;
}

#icons-box-2{
    font-size: 2rem;
    color: white;
    justify-content: center;
width: 20%;
gap: 10px;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}
#whole-chat::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
    
}
#whole-chat{
    margin: 0;
    padding: 2vh 1.5vw;
    overflow-y: auto;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow-x: hidden;
 
    height: 75%;
    background-color: #f3f2ed;
    /* background-color: #F6F8FC; */
}
#new-message-box{
padding: 1vh 1.5vw;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    display: flex;
  width: 100%;
    height: 10%;
}
#icons-box-3>label>i{
    font-size: clamp(1rem, 0.9091rem + 1.4545vw, 2rem);
color: black;
}
#icons-box-3{
    width: 10%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#msginput{
    background-color: #eff4ff;
   

    color: black;
    border-radius: 10px;
    border: none;
    width: 80%;
    padding-left: 10px;
    padding: 15px;
}

#emoji{
  
    position: relative;

    cursor: pointer;
    color: white;
    font-weight: bolder;
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}
#emoji>i{
    color: black;
    font-weight: 500;
    font-size: clamp(1rem, 0.9091rem + 1.4545vw, 2rem);

}
#emoji-container{
    width: 50%;
    height: max-content;
    position: absolute;
    bottom: 50px;
    right: 400px;
}
#sendmsg-btn{
/* width: 5%; */
background-color: #105ef3;
color: white;
font-weight: 1000;
    padding: 12px;
    border-radius: 13px;
    border: none;
}




#blockeddiv{
    width: 100%;
    height: 100%;

    /* background-color: red !important; */
    justify-content: center;
    align-items: center;
display: flex;
flex-direction: column;
}
#blockeddiv>h1{
    font-size: clamp(1rem, 0.9091rem + 1.4545vw, 2rem);
}

#chat-img{
   max-width: 70%;
    height: 70%;
    object-fit: cover;
    background-color: transparent;
}

#block-btn{
    cursor: pointer;
    padding: 13px;
    background-color: rgba(255, 0, 0, 0.856);
    outline: none;
    border: none;
    color: white;
    font-weight: 1000;
    border-radius: 10px;
}
/* #msg-type>input{
    font-weight: 300;
    font-size: 1rem;
} */
#msg-type{
    /* background-color: red; */
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    display: flex;
}
/* @media only screen and (min-width: 100px) {
    #chat{
        width: 100%;
        height: 0%;
        background-color: #F5F6F1 !important;
    }

} */
@media only screen and (min-width: 100px) and (max-width: 767px) {
    #chat {
        width: 100%;
        height: 63%;
        background-color: #F5F6F1 !important;
    }
    #info-1>img{
        border-radius: 50%;
        width: 55px;
        height: 55px;
        object-fit: cover;
    }
    #current-chatuserinfo{
        padding: 2vh 0.7vw;
        align-items: center;
        width: 100%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    
        /* border-radius: 40px; */
        height: 15%;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {

    #chat{
        width: 70%;
        height: 100%;
        background-color: #F5F6F1 !important;
    }
    #current-chatuserinfo{
        /* background-color: lightblue; */
        /* border-radius: 15px; */
        border: none;
        font-size: clamp(1rem, 0.9773rem + 0.3636vw, 1.25rem);
        height: 15%;
        padding: 2vh 1vw;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #info-1>img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    #whole-chat{
        margin: 0;
        padding: 0vh 1.5vw;
        overflow-y: auto;
        width: 100% !important;
     
        display: flex;
        flex-direction: column;
        gap: 2vh;
        overflow-x: hidden;
        height: 70%;
        background-color: #F6F8FC;
    }
#block-btn{

    padding: 10px;
font-size: 10px;

}
#blockeddiv{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
display: flex;
}
#new-message-box{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
background-color: whitesmoke;
padding: 0vh 1.5vw;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    display: flex;
 height: 10%;
}
#name-status{
    justify-content: center;
       display: flex;
       flex-direction: column;
       
   }
   
   #name-status>h2{
    font-size: 1rem;
       margin: 0;
       padding: 0;
   }
   #name-status>p{
    font-size: 0.7rem;
    padding: 0;
       margin: 0;
   }
   #msginput{
    background-color:whitesmoke;

    color: black;
    border-radius: 10px;
    border: none;
    width: 70%;
    padding-left: 10px;
    padding: 10px;
}
#emoji-container{
    width:100%;
    position: absolute;
    bottom: 50px;
    right: 300px;
}
#new-message-box{
    justify-content: space-around;
    gap: 1vw;
    padding: 0px;
    margin: auto;
    align-items: center;
    display: flex;

    height: 15%;
}
#msginput{
    background-color: #eff4ff;
   
    color: black;
    border-radius: 10px;
    border: none;
    width: 90%;
    padding-left: 10px;
    padding: 15px;
}
#msg-type{
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    display: flex;
}
}
