#chat{
    width: 70%;
    height: 100%;
    background-color: aqua;
}
#current-chatuserinfo{
    padding: 0vh 0.7vw;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.233);
    display: flex;
    justify-content: space-between;
}
#info-1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}
#info-1>img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
#name-status{
 justify-content: center;
    display: flex;
    flex-direction: column;
}

#name-status>h2{
    margin: 0;
}
#name-status>p{
    margin: 0;
}

#icons-box-2{
    font-size: 2rem;
    color: white;
    justify-content: center;
width: 20%;
gap: 10px;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}
#whole-chat::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
    
}
#whole-chat{
    margin: 0;
    padding: 0vh 1.5vw;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
    height: 75%;
    background-color: #F6F8FC;
}
#new-message-box{
padding: 0vh 1.5vw;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    display: flex;
    min-width: max-content;
    max-width: 100%;
    background-color: blueviolet;
    height: 10%;
}
#icons-box-3>label>i{
font-size: 2rem;
}
#icons-box-3{
    width: 10%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#msginput{
    color: black;
    border-radius: 10px;
    border: none;
    width: 80%;
    padding-left: 10px;
    padding: 15px;
}

#emoji{
  
    position: relative;

    cursor: pointer;
    color: white;
    font-weight: bolder;
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}
#emoji>i{
    font-weight: 500;
    font-size: 2rem;
}
#emoji-container{
    width: 50%;
    height: max-content;
    background-color: aqua;
    position: absolute;
    bottom: 50px;
    right: 400px;
}
#sendmsg-btn{
width: 10%;
background-color: blue;
color: white;
font-weight: 1000;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.own-msg{
    height: auto;
    margin-left: 0px;
    gap: 10px;
    align-items: flex-start;
    display: flex;
    max-width: 70%;
    padding: 1px;
    border-radius: 12px;
}
.own-msg-contain>p, .other-msg-contain >p{
    height: auto;
    
    padding: 0;
    margin: 0;
}
.own-msg>img{
    width: 50px;
    height: 50px;
    /* align-self: self-start; */
}
 .other-msg>img{
    
    width: 50px;
    height: 50px;
}
.own-msg-contain>p{
    background-color: lightblue;
    display: flex;
    padding: 15px;
    border-radius: 12px;
    flex-direction: column;
}
.other-msg-contain>p{
    
    background-color: lightcoral;
    padding: 13px;
    height: auto;

    border-radius: 12px;
}
.other-msg{
    height: auto;

    /* padding-left: 50%; */
    /* margin-left: 100px; */
    margin: 0;
 /* background-color: aqua; */
    flex-direction: row-reverse;
align-self:flex-end;
    gap: 10px;
    align-items: flex-start;
    display: flex;min-width: max-content;
    max-width: 70%;
    height: auto;
    padding: 10px;
    border-radius: 12px;
}
#chat-img{
    background-color: blue;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#block-btn{
    cursor: pointer;
    padding: 18px;
    background-color: red;
    outline: none;
    border: none;
    color: white;
    font-weight: 1000;
    border-radius: 10px;
}
/* #msg-type>input{
    font-weight: 300;
    font-size: 1rem;
} */
#msg-type{
    align-items: center;
    height: 80%;
    width: 80%;
    display: flex;
}