#userinfo{
    background-color: #105ef3;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    color: white;
    border: none;

}

.user{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 0.3vw;
    padding: 0vw 0.5vw;
    justify-content: space-between;
    align-items: center;
}
#name>h2{
    margin: 0;
    font-size: clamp(1rem, 0.9489rem + 0.8182vw, 1.5625rem);
   
    padding: 0;
/* font-size: 2rem; */
font-weight: 1000;

}

#name>img{
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
#icons-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    height: 70%;
    width: max-content;
}
#name
{
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 1.5vw;
}
#icons-box>i{
    font-size: clamp(1rem, 0.9091rem + 1.4545vw, 2rem);
    
}
@media only screen and (max-width: 768px) {
    #name>h2{
        /* font-size: clamp(1rem, 0.9773rem + 0.3636vw, 1.25rem); */
        font-size: clamp(1rem, 0.9489rem + 0.8182vw, 1.5625rem);
    }
    #name>img{

        
        width: 45px;
        height: 45px;
    }
    #userinfo{
        
   /* border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px; */
   

        padding: 15px;
        height: 39%;
    }

 
  }