#chatlist{
    width: 100%;
    height: 85%;
    /* flex: 1; */
    /* overflow-y: scroll; */
    /* background-color: yellow; */
}
#searchbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    /* padding: 0vh 0.5vw; */
}

#search-input{
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    cursor: pointer;
}

#search-input>input{
    width: 90%;
    height: 100%;
    
    background: none;
    border: none;
}
textarea:focus, input:focus{
    outline: none;
}

#add-button{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#joined-users::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
    
}
#joined-users{
    padding: 2vh 0vw;
    align-items: center;
    background-color: #f3f7fb;
    width: 100%;
    height: 85%;
    gap: 1.5vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-users{
    cursor: pointer;
overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.5vw
}

.chat-users>img{
    width: 60px;
    height: 60px;
}

#name-msg{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding-left: 5px;

}
#name-msg>h1{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
#name-msg>p{
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}