html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
background-color: #F6F6F6;
  height: 100vh;
}
@font-face {
  font-family: gilroy;
  src: url(./assets/Gilroy-Regular.ttf);
}

#root {
width: 100%;
min-height: 100%;
display: flex;
align-items: center; 
justify-content: center;
font-family: gilroy;
 
}
#main{

display: flex;
justify-content: center;
align-items: center;
  width: 100%;
  max-width: max-content;
  height:100%;
}

.container{
  border-radius: 25px;
  padding: 10px 30px;
  /* background-color: white; */
  color: black;
  width: max-content;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  text-align: center;
}
 .inputs{
  background-color: #EAF0F7;
  color: black;
  /* border: 1px solid rgba(0, 0, 0, 0.719); */
  border-radius:10px;
  border: none;
  width: clamp(15rem, 12.5rem + 13.3333vw, 20rem);
  
  /* width:  clamp(9.375rem, 4.6875rem + 25vw, 18.75rem); */
  padding: 20px;
  color: grey;
  font-weight: bold;
 }

 .login-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: max-content;
  padding: 15px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: #4461F2;
 }
 .google-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: max-content;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(102, 100, 100);
  border: 1px solid lightgray;
 }
 #container>h1{
  font-size: clamp(1.25rem, 1.125rem + 1vw, 1.875rem);
}

.google-btn>img{
  width:10%;
}

#hero{
gap: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
/* background-color: bisque; */
  height: 90%;
  padding: 40px;
  /* align-items: center; */
  justify-content: space-between;
}
#change-form{
  text-decoration: none;
  color: blue;

}
#blur-circle{
  opacity: 0.4;
  bottom: 18%;
  z-index: 10;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 15%;
  filter: blur(60px);
  /* height: 60%; */
  padding: 30px;
  border-radius: 50%;
  background-color: #4461F2;
}
#hero-content{
  font-weight: 500;
  z-index: 40;
  display: flex;  
  flex-direction: column;
  gap: 0vw;
  text-align: left;
  margin-top: 15vh;
  justify-content: center;
  padding-left: 2%;
  max-height: max-content;
  height: 100%;
  width: 60%;
}
#pwithimg{
  position: relative;
  width: 110%;
  height: 90%;
  display: flex;
  gap: 1vw;
}
#pwithimg>p{
  z-index: 100;

  width: 50%;
  height: max-content;
  z-index: 100;
font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  
}
#pwithimg>img{
  z-index: 100;

  rotate: -10deg;
  width: 50%;
  height: max-content;
  object-fit: cover;
  animation-duration: 1s;
  animation-timing-function:ease-out;
  
}
@keyframes girnelaga{
    0%{
      top: 0%;
    }
    50%{
      top: 50%;
    }
    90%{
      bottom: 0%;
    }
    100%{

    bottom: 10%;
    }
}
#hero-content>h1{
  margin: 0;
  /* padding: 0%; */
  font-size: clamp(2.75rem, 2.25rem + 3vw, 5.25rem);
  /* background-color: aqua; */
}
#hero-content>h5{
  margin: 0;
  font-weight: 1000;
padding-bottom: 15px;
  font-size: clamp(1.25rem, 0.7rem + 1vw, 1.4rem);
  /* background-color: aqua; */
}


#signup{
  height: 100%;
  gap: 0.8vw;
}

#currentUserPage{
  width: 100%;
  height: 100%;
  color: black;
  background-color: yellow;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 100px ) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  #main{
    width: 100%;
    
  }
  html,body{
    overflow-x: hidden;
    margin: 0vw;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  #blur-circle{
    opacity: 0.2;
    left: 25%;
    bottom: 18%;
  }
  #main{
    width: 100%;
  }
.inputs{
  width: 100%;
}
  #hero{
    width: 100%;
    flex-direction: column;
    /* background-color: #4461F2; */
    min-height: 100%;
    gap: 10vh;
    padding: 2px;
    max-height: max-content;
  }
  #hero-content{
    margin-top: 10vh;
    /* background-color: aqua; */
    width: 90%;
  }
  #pwithimg{
    /* background-color: pink; */
      gap: 0vw;
      height: 85%;
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 100%;

    }
    #pwithimg>p{
      width: 100%;
      height: max-content;
      z-index: 100;
      font-size: 15px;
    }
    #pwithimg>img{
      /* object-fit: contain; */
      width: 95%;
      /* height: max-content;  */
      animation-name: girnelaga;
      animation-duration: 1s;
      animation-timing-function:ease-out;
      
    }
}
@media only screen and (min-width: 300px ) {
  .inputs{
    background-color: #EAF0F7;
    color: black;
    /* border: 1px solid rgba(0, 0, 0, 0.719); */
    border-radius:10px;
    border: none;
    width: clamp(15rem, 12.5rem + 13.3333vw, 20rem);
    
    /* width:  clamp(9.375rem, 4.6875rem + 25vw, 18.75rem); */
    padding: 20px;
    color: grey;
    font-weight: bold;
   }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  #main{
    width: 100%;
    
  }
  html,body{
    overflow-x: hidden;
    margin: 0vw;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
  }

  #hero-form{
    margin-bottom: 10vh;
  }

  #blur-circle{
    opacity: 0.2;
    left: 25%;
    bottom: 18%;
  }
  #main{
    width: 100%;
  }

  #hero{
    width: 100%;
  padding: 5px;

    flex-direction: column;
    /* background-color: #4461F2; */
    min-height: 100%;
    
    gap: 5vh;
    max-height: max-content;
  }
  #hero-content{
    margin-top: 10vh;
    /* background-color: aqua; */
    width: 90%;
  }
  #pwithimg{
    /* background-color: pink; */
      gap: 0vw;
      height: 85%;
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 100%;

    }
    #pwithimg>p{
      width: 100%;
      height: max-content;
      z-index: 100;
      font-size: 18px;
    }
    #pwithimg>img{
      object-fit: contain;
      width: 95%;
      height: max-content;
      animation-name: girnelaga;
      animation-duration: 1s;
      animation-timing-function:ease-out;
      
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
  #blur-circle{
    opacity: 0.27;
    left: 25%;
    bottom: 18%;
  }
  #pwithimg{
    /* background-color: pink; */
      gap: 0vw;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 100%;
    }
    #pwithimg>p{
      width: 100%;
      height: max-content;
      z-index: 100;
      font-size: 18px;
    }
    #pwithimg>img{
      width: 70%;
      animation-name: girnelaga;
      animation-duration: 1s;
      animation-timing-function:ease-out;
      
    }


 
  
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #hero{
    flex-direction: row;
    padding: 50px;
  }
#hero-content{
  margin-top: 10vh;
}
  #pwithimg{
  /* background-color: pink; */
    gap: 0vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  #pwithimg>p{
    width: 100%;
    height: max-content;
    z-index: 100;
    /* font-size: 18px; */
  }
  #pwithimg>img{
    width: 80%;
    animation-name: girnelaga;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  #hero-content{
    margin-top: 10vh;
  }
  #pwithimg{
    gap: 0vw;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  #pwithimg>p{
    width: 100%;
    display: flex;
    /* background-color: red; */
    z-index: 100;
    /* font-size: 18px; */
  }
  #pwithimg>img{
  
    width:65%;
    animation-name: girnelaga;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    
  }
}

/* @media only screen and (max-width: px) {
  #pwithimg>img{
  
    width: 80%;
    animation-name: girnelaga;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    
  }
} */

@media only screen and (min-width: 1000px) {
  html,body{
    padding: 0;
    /* overflow-y: hidden; */
  } 
  #hero{
    margin-top: 1vh;
    padding: 50px;
  }
  #hero-content{
  margin-top: 15vh;
  }
  #pwithimg{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #pwithimg>img{
  
    width:50%;
    animation-name: girnelaga;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    
  }
}
