#settingsBox{
    position: absolute;
    /* min-height: 55%; */
    height: max-content;
    padding: 50px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: white;
    left: 0;
    border-radius: 15px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
#settingsBox>button{
    color: white;
    border: none;
    border-radius: 15px;
    padding: 16px;
background-color: blue;
}
#settingsBox>input:first-child{
    background-color: #EAF0F7;
    
padding: 17px;
border-radius: 7px;
border: none;
}

#settingsBox>input:nth-child(2){
    background-color: #EAF0F7;

    margin: 0 auto;

    width: 90%;
    padding: 17px;
    border-radius: 7px;
    border: none;
}
#file-set{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}